.form {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  & input {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    padding: 0.5rem 1.5rem;

    @media screen and (max-width: 500px) {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }

    &:focus {
      outline: none;
      border: 2px solid teal;
    }
  }

  & button {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: teal;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
