.form {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.7);
    padding: 0.5rem 1.5rem;

    &:focus {
      outline: none;
      border: 2px solid teal;
    }
  }

  & button {
    font-size: 1.5rem;
    background-color: teal;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
