.form {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    padding: 3px;
    box-shadow: 0.3rem 0.5rem 1rem rgb(0, 0, 0, 0.4);

    &:focus {
      outline: none;
      box-shadow: 0.3rem 0.5rem 1rem rgb(0, 0, 0, 0.7);
    }
  }

  & button {
    font-size: 1.5rem;
    background-color: teal;
    color: white;
    padding: 3px;
    border: 0;
    box-shadow: 0.3rem 0.5rem 1rem rgb(0, 0, 0, 0.4);

    &:hover {
      cursor: pointer;
      box-shadow: 0.3rem 0.5rem 1rem rgb(0, 0, 0, 0.7);
    }
  }
}
